.Blade__container {
  border-right: 1px solid $blade-border-right-color;
  font-size: $font-size;
  background-color: $blade-background-color;
  position: absolute;
  top: 0;
  bottom: 0;
  white-space: normal;
}
