{
  "extends": "airbnb",

  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },

  "rules": {
    "max-len": ["error", { "code": 120 }],
    "no-plusplus": 0,

    "react/no-find-dom-node": 1,
    "react/no-string-refs": 1
  }
}
