h1,h2,h3,h4,h5,h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: white;
}

#app {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

ul.course-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.course-list-item {
  height: 80px;
  padding: 10px;
  border-bottom: solid 1px #94A187;
}

.course-list-item:hover {
  background-color: #94A187;
}

.course-list-item .title {
  font-size: 1.3em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-list-item .length {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-list-item .category {
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
