.BladeToolbarButton {
  float: left;
}

.BladeToolbarButton__button {
  display: block;
  background-color: $blade-actions-background-color;
  color: $blade-header-color;
  font-size: 11px;
  text-align: center;
  text-decoration: none;
  padding: 0;
  margin: 0;
  line-height: 12px;
  border: 0;

  [class*="fa-"] {
    font-size: 16px;
    padding-bottom: 1px;
    margin-top: 2px;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: lighten($blade-actions-background-color, 5%);
  }

  &:active, &.active {
    background-color: lighten($blade-actions-background-color, 10%);
  }

}

.BladeToolbarButton__button--disabled {
  background-color: $blade-actions-background-color;
  color: #aaaaaa;
}

.BladeToolbarButton__button--toggled {
  -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.75);
}
