.BladeContent {
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $blade-content-z-index;
}

.BladeContent__container {
  position: relative;
  width: 100%;
  height: 100%;
}
