$color1: #06070E;
$color2: #29524A;
$color3: #94A187;
$color4: #C5AFA0;
$color5: #E9BCB7;

$font-size: 14px;

$blade-actions-background-color: $color2;
$blade-background-color: $color4;
$blade-border-right-color: $color1;
$blade-content-z-index: 1;
$blade-header-background-color: $color1;
$blade-header-color: white;
$blade-header-z-index: 1;
