$font-size: 14px;

$blade-actions-height: 50px;
$blade-actions-background-color: $color2;
$blade-actions-button-width: 65px;
$blade-background-color: $color4;
$blade-border-right-color: $color1;
$blade-content-z-index: 1;
$blade-header-background-color: $color1;
$blade-header-color: white;
$blade-header-height: 40px;
$blade-header-z-index: 1;

.Blade {

  .Blade__header {
    position: relative;
    color: $blade-header-color;
    z-index: $blade-header-z-index;

    h1 {
      padding: 0 10px;
      margin: 0;
      vertical-align: middle;
      color: $blade-header-color;
      background-color: $blade-header-background-color;
      height: $blade-header-height;
      line-height: $blade-header-height;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .Blade__actions {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: none;
      word-wrap: break-word;
      background-color: $blade-actions-background-color;
      height: $blade-actions-height;
    }
  }

  .Blade__content {
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    top: $blade-header-height + $blade-actions-height;
    right: 0;
    bottom: 0;
    z-index: $blade-content-z-index;
  }
}
