.BladeHeader {
  position: relative;
  color: $blade-header-color;
  z-index: $blade-header-z-index;
  height: $blade-header-height;
  line-height: $blade-header-height;
  overflow: hidden;
  background-color: #06070E;

  .BladeHeader__title {
    padding: 0 10px;
    margin: 0;
    vertical-align: middle;
    background-color: $blade-header-background-color;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
